html, body, #__nuxt, #__layout {
  font-family: 'Rubik', 'Trebuchet MS', sans-serif !important;
  margin: 0 !important;
  height: 100% !important;
}

button, input {
  font-family: 'Rubik', 'Trebuchet MS', sans-serif !important;
}
