html, body, #__nuxt, #__layout {
  font-family: 'Rubik', 'Trebuchet MS', sans-serif !important;
  margin: 0 !important;
  height: 100% !important;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

button, input, textarea {
  font-family: 'Rubik', 'Trebuchet MS', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .75rem;
  font-weight: 500;
  line-height: 1.2;
  color: #373f50;
}

p {
  font-weight: 400;
  line-height: 1.5;
  color: #4b566b;
  text-align: left;
}
