*, html, body {
  font-family: "Trebuchet MS", sans-serif;
}

.page-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 10px 10px 1px rgba(82, 63, 105, 0.05);
  border-top: 1px solid #eff0f6;
  min-height: 38px;
}

.page-bar > h1 {
  margin: 0;
  padding: 0 1.5rem 0 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #595d6e;
}

.container {
  margin: 1rem;
  padding: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  border-radius: 4px;
}




